{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet"href="{% static 'style.css' %}">
    <link rel="stylesheet"href="{% static 'cart.css' %}">
    <!-- <link rel="stylesheet"href="style1.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-------Google Font Import---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

 <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfeI7nqscy0C0huUxO74Xd3MuSLxl-79SAzQ&usqp=CAU">
</head>
<body>
    
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <!-- <img src="HECTAGONLOGO.png" class="logo"> -->
        <a href="/"><label class="logo fnt-1">E-Commerce</label></a>

        

        <ul id="navbar">
          <li><a class="a" href="/">Home</a></li>
          <li><a class="a"  href="/products">All Products</a></li>
          <li><a href="/cart" class="a active">Cart</a></li>
          <li><a href="/contact" class="a" >Contact us</a></li>
         
           
        </ul>
    </nav>
    
    

    
    <div class="main1">
      

      <!-----Cart Card Section-->
      {% if m == False %}

      
      {% for c in cart %}
      <div class="cart-div-main">
        <div class="cart-item-div">
          <img src="{{c.ItemID.ImgCDN}}" class="cart-item-img">&nbsp;&nbsp;&nbsp;
          <div style="width: 80%;">
            <h6 class="side-head sm">{{c.ItemID}}</h6><br><br>
            <div class="cart-item-div">
              <form>{% csrf_token %}
                <input type="hidden" id="iid" value="{{c.ItemID.id}}">
              <button id="2{{c.ItemID.id}}" type="button" class="cbtn s" onclick="remove(this.id)">-</button>
              <button id="1{{c.ItemID.id}}" type="button" class="cbtn s" onclick="add(this.id)">+</button>
              <h6 class="side-head sm">{{c.ItemID.Price}}&nbsp;X&nbsp;{{c.Quantity}}</h6>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}


      <br><br><br>
    <!-----Cart Total Card Section-->
    <div class="cart-col">
        <div class="cart-row">
            <div class="pro-sec">
              <h6 class="side-head sm">Total</h6>
            </div>
          <h6 class="side-head sm">{{tprice}} RS</h6>
        </div>
    </div><br><br><br>
     <!-----Cart Card Section-->
     
     <form action="order" method="post">
       {% csrf_token %}
      <div style="display: flex; width: 50%;justify-content: flex-end;">
          <button type="submit" class="add-btn">Place  Order</button>
      </div>
     </form>




      {% else %}
      <div class="main">
        <div class="thank-div">
          <h2 class="side-head">Your Cart is Empty...</h2><br><br><br><br>
         <a href="/products"><button class="add-btn">Browse Products</button></a>
        </div>
      </div>
  
      {% endif %}
      
       <!-----Cart Card Section-->
    
     
    </div>

    <script>
      function add(clicked_id){
          myvalue=clicked_id;
          console.log(myvalue);
          $.ajax({
          method: "POST",
          url: "/add",
          data: { 
            id:myvalue,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          }
          })
          .done(function( msg ) {
              alert('Item Successfully Added to your Cart...');
              location.reload();
          });
      }

      function remove(clicked_id){
          myvalue=clicked_id;
          $.ajax({
          method: "POST",
          url: "/remove",
          data: { 
            id:myvalue,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          }
          })
          .done(function( msg ) {
              console.log('deleted');
              location.reload();
          });
      }
      
    </script>
    
   
   <style>
       .fa{
           color: black;

       }
       .x{
           color: white;
       
       }
       a{
           text-decoration: none;
           color: white;
       }
       .s{
         width: 25px;
         height: 25px;
         font-size: 15px;
       }
   </style>
  
    </div>

    {% include 'footer.html' %}

    {% block content %}

    {% endblock %} 
  
</body>


</html>